// Place all the styles related to the articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#articles {
  h2 {
    font-size: 20px;
    margin-bottom: 5px;
    margin-top: 15px;
  }
  p {
    margin: 5px 0;
  }
}