// Place all the styles related to the events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.event {
  margin-bottom: 30px;
  h3 {
    margin: 0;
  }

  .date {
    font-style: italic;
    font-size: 12px;
    margin: 5px 0;
  }
}
