// Place all the styles related to the photos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.photo {
  text-align: center;
  margin: 30px 0;
  font-weight: bold;
}
