// Place all the styles related to the surveys controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.article {
  h2 {
    font-size: 18px;
    margin-top: 20px;
    margin-bottom: 3px;
  }
}

.questions {
  list-style: none;
  font-weight: bold;
  margin: 0;
  padding: 0;
  > li {
    margin: 20px 0;
    padding: 0;
  }
}

.answers {
  list-style: upper-alpha;
  font-weight: normal;
  margin: 0;
  padding: 0;
  > li {
    margin: 5px 0;
    margin-left: 25px;
  }
}