<% title "Profile for " + @user.username %>

<p>This user currently has no bio.</p>

<p>Email: <%=h @user.email %></p>

<% if current_user && current_user.admin? || current_user == @user %>
  <p><%= link_to "Edit Profile", edit_user_path(@user) %></p>
<% end %>
