<% title "Author" %>

<p>
  <strong>Name:</strong>
  <%= @author.name %>
</p>

<p>
  <%= link_to "Edit", edit_author_path(@author) %> |
  <%= link_to "Destroy", @author, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", authors_path %>
</p>
