ul#chat {
  list-style: none;
  padding: 0;
  width: 300px;
  height: 150px;
  border: solid 1px #777;
  margin: 5px 0;
  overflow: auto;
  li {
    margin: 2px 5px;
    padding: 0;
    .created_at {
      float: right;
      color: #777;
      font-size: 11px;
      padding-left: 4px;
      padding-top: 2px;
    }
  }
}

input#message_content {
  width: 240px;
}
