// Place all the styles related to the zip_code_lookup controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#zip_info {
  padding: 20px;
  border-top: solid 3px #CCC;

  dt {
    float: left;
    width: 100px;
    text-align: right;
    padding-right: 5px;
    font-weight: bold;
  }
  dd {
    display: block;
  }
  dt, dd {
    height: 20px;
  }
}
