body {
  font-family: Georgia, Cambria, "Times New Roman", Times, serif;
  font-size: 16px;
  margin: 0;
}

h1, h2, h3 {
  margin-top: 0;
}

a {
  color: #3420D3;
}

#body_content_title {
  display: none;
}

header {
  background-color: #000;
  background: -webkit-gradient(linear, left top, left bottom, from(#555), to(#222));
  background: -moz-linear-gradient(top,  #555, #222);
  color: #FFF;
  font-weight: bold;
  position: relative;
  padding: 15px 100px;
  #logo {
    margin: 0;
    font-size: 24px;
  }
  a {
    color: #FFF;
    text-decoration: none;
  }
  ul {
    position: absolute;
    right: 100px;
    top: 18px;
    list-style: none;
    margin: 0;
    li {
      float: left;
      padding: 2px 10px;
      border-right: solid 2px #6F6F6F;
      &.last {
        border-right: none;
      }
    }
  }
}

#banner {
  background-color: #852A2C;
  padding: 20px 100px;
  font-weight: normal;
  font-style: italic;
  color: #FFF;
  background: -webkit-gradient(linear, left top, left bottom, from(#A03133), to(#722324));
  background: -moz-linear-gradient(top,  #A03133, #722324);
  -moz-box-shadow: 0 2px 8px 2px #000;
  -webkit-box-shadow: 0 2px 6px 2px #000;
  margin-bottom: 30px;
  p {
    margin: 0;
    padding-top: 32px;
    font-size: 34px;
    &.font-size-small {
      padding-top: 10px;
      font-size: 20px;
      color: #EAA29F;
    }
  }
}

#body_content {
  position: relative;
  #body {
    margin: 25px 100px;
  }
  .image-align-left {
    margin-right: 40px;
  }
  #side_body {
    position: absolute;
    top: 0;
    right: 100px;
    width: 250px;
    p {
      color: #777;
      font-size: 14px;
    }
  }
}

footer {
  font-size: 12px;
  color: #999;
  text-align: center;
  clear: both;
}

#piano {
  color: #777;
  h1 {
    color: #000;
    font-size: 30px;
    margin: 0;
  }
}

.piano {
  .image-align-left {
    margin-left: 20px;
  }
  padding-top: 10px;
  clear: both;
  color: #777;
  font-size: 14px;
  h2 {
    color: #000;
    font-size: 26px;
    margin: 0;
  }
  p { margin: 10px 0; }
  .more_info { font-size: 18px; }
}
