<% title "Galleries" %>

<% for gallery in @galleries %>
  <div class="gallery">
    <h2><%= link_to gallery.name, gallery %></h2>
    Paintings: <%= gallery.paintings.size %>
  </div>
<% end %>

<p><%= link_to "New Gallery", new_gallery_path %></p>
