<!DOCTYPE html>
<html>
<head>
  <title>Awesome Projects</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="header">
  Awesome Projects
</div>
<div id="container">
  <%= yield %>
</div>

</body>
</html>
