body {
  margin: 0;
  padding: 0;
  background-color: #FFF;
  font-size: 14px;
}

#header {
  background-color: #555;
  color: #FFF;
  padding: 15px 100px;
  font-size: 30px;
  font-weight: bold;
}

#container {
  margin: 0 100px;
}

a {
  color: #2D6DD2;
}
