// Place all the styles related to the secret controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body.secret {
  background-color: #000;
  color: #FFF;
  font-family: "Times New Roman", Times, serif;

  #container {
    width: auto;
    margin: 0;
    padding: 0;
    background-color: #000;
  }

  img {
    display: block;
    margin: 20px auto;
    margin-top: 50px;
    padding: 0;
    border: solid 2px white;
    width: 85%;
  }

  p {
    text-align: center;
    font-size: 45px;
    letter-spacing: 2px;
    margin: 30px;
  }
}
