/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree . 
*/

body {
  background-color: #4B7399;
  font-family: Verdana, Helvetica, Arial;
  font-size: 14px;
}

a img {
  border: none;
}

a {
  color: #0000FF;
}

.clear {
  clear: both;
  height: 0;
  overflow: hidden;
}

#container {
  width: 75%;
  margin: 0 auto;
  background-color: #FFF;
  padding: 20px 40px;
  border: solid 1px black;
  margin-top: 20px;
}

#flash_notice, #flash_error, #flash_alert {
  padding: 5px 8px;
  margin: 10px 0;
}

#flash_notice {
  background-color: #CFC;
  border: solid 1px #6C6;
}

#flash_error, #flash_alert {
  background-color: #FCC;
  border: solid 1px #C66;
}

.fieldWithErrors {
  display: inline;
}

ul.errors {
  width: 400px;
  border: 2px solid #CF0000;
  padding: 0px;
  padding: 10px 30px;
  margin-bottom: 20px;
  background-color: #FFDED8;
  font-size: 12px;
}

form .field, form .actions {
  margin: 12px 0;
}

form label {
  display: block;
}

.product h2 {
  font-size: 16px;
  margin-bottom: 2px;
}

h3 {
  border-top: solid 1px #CCC;
  padding-top: 10px;
}
