<% form_for @task do |f| %>
  <%= f.hidden_field :project_id %>
  <ul class="rounded">
    <li><%= f.text_field :name, :placeholder => "Task Name" %></li>
    <li><%= f.check_box :complete, :title => "Complete" %></li>
  </ul>
  <%= link_to "Submit", nil, :class => "whiteButton submit" %>
<% end %>
