// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.product h2 {
  font-size: 16px;
  margin-bottom: 2px;
}

.new_member_link {
  position: absolute;
  right: 30px;
  top: 20px;
}
