// Place all the styles related to the tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

ul {
  margin: 20px 0;
  padding: 0 20px;
  li {
    margin: 8px 0;
    .due {
      font-size: 12px;
      color: #777;
      display: block;
      padding-top: 2px;
    }
  }
}