/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree . 
*/

body {
  background-color: #4B7399;
  font-family: Verdana, Helvetica, Arial;
  font-size: 14px;
}

a img {
  border: none;
}

a {
  color: #0000FF;
}

.clear {
  clear: both;
  height: 0;
  overflow: hidden;
}

#container {
  width: 75%;
  margin: 0 auto;
  background-color: #FFF;
  padding: 20px 40px;
  border: solid 1px black;
  margin-top: 20px;
}

#flash_notice, #flash_error, #flash_alert {
  padding: 5px 8px;
  margin: 10px 0;
}

#flash_notice {
  background-color: #CFC;
  border: solid 1px #6C6;
}

#flash_error, #flash_alert {
  background-color: #FCC;
  border: solid 1px #C66;
}

.field_with_errors {
  display: inline;
}

.error_messages {
  width: 400px;
  border: 2px solid #CF0000;
  padding: 0px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  font-size: 12px;
}

.error_messages h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 10px;
  font-size: 12px;
  margin: 0;
  background-color: #c00;
  color: #fff;
}

.error_messages p {
  margin: 8px 10px;
}

.error_messages ul {
  margin-bottom: 0;
}

form .field, form .actions {
  margin: 12px 0;
}

#articles h2 {
  font-size: 16px;
  margin-bottom: 2px;
  margin-top: 20px;
}

#articles h2 .comments {
  font-size: 12px;
  font-weight: normal;
}

#articles .info {
  font-style: italic;
  color: #333;
  margin-bottom: 8px;
  font-size: 12px;
}

#comments {
  font-size: 12px;
  background-color: #EEE;
  padding: 0 20px;
  width: 325px;
  border: solid 1px #777;
}

.comment {
  border-bottom: solid 1px #999;
  margin: 15px 0;
}

.comment:last-child {
  border-bottom: none;
}

.comment .author_name {
  font-weight: bold;
}

#facets {
  float: right;
  border: solid 1px #40558F;
  background-color: #B1CAE6;
  padding: 20px 15px;
  margin-left: 20px;
}

#facets h3 {
  margin: 0;
}

#facets ul {
  padding: 0;
  margin: 0;
  margin-top: 10px;
  list-style: none;
  color: #000;
}
