<h1>Browse Products</h1>

<em>Thank you for visiting our store. Now take out your wallet and buy something.</em>

<div id="products">
  <% @products.each do |product| %>
    <div class="product">
      <h2><%= link_to product.name, product %></h2>
      <div class="details">
        Price: <%= number_to_currency(product.price) %>
      </div>
    </div>
  <% end %>
</div>
