<h1>FAQs</h1>

<ul id="faqs" data-update-url="<%= sort_faqs_url %>">
<% @faqs.each do |faq| %>
  <%= content_tag_for :li, faq do %>
    <span class="handle">[drag]</span>
    <%= link_to h(faq.question), faq %>
  <% end %>
<% end %>
</ul>

<p><%= link_to "New FAQ", new_faq_path %></p>
