<div class="template_time">Template random: <strong><%= rand(900)+100 %></strong></div>

<h1>Editing product</h1>

<%= render 'form' %>

<%= link_to 'Show', @product %> |
<%= link_to 'Back', products_path %>
